@charset utf-8;
body{background:#D8B74D;line-height:1em;margin:0;padding:0;width: 85%;margin: auto;}
#wrapper{background-color:#FFFFFF;width:1000px;margin:0 auto}
#header{height:195px;z-index:2;padding:5px 0 0 5px}
#menu{float:left;width:1000px;z-index:200}
#hscroller{float:left;width:1000px;height:180px;background:#012D58;color:#FFF;padding:2px}
#left{float:left;width:200px}
#pcontent{float:left;width:750px;line-height:110%;text-align:justify;margin:0 0 0 30px;padding:5px 0}
#right{float:right;width:180px;display:block;margin:0 5px 0 0;padding:5px 0}
.career{align:left}
#footer{clear:both;background:#012D58;text-align:right;height:100px;color:#FFF}
#eright{float:right;width:150px;position:relative;display:block;border-bottom-style:groove;z-index:100;margin:0 5px 0 0;padding:100px 0 5px}
.soc{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:.8em;text-align:justify}
#flash{z-index:1}
.ddsmoothmenu{font:bold 12px Verdana;background:#012D58;width:100%}
.ddsmoothmenu ul{z-index:100;list-style-type:none;margin:0;padding:0}
.ddsmoothmenu ul li{position:relative;display:inline;float:left}
.ddsmoothmenu ul li a{display:block;background:#012D58;border-right:1px solid #778;color:#2d2b2b;text-decoration:none;padding:8px 10px}
* html .ddsmoothmenu ul li a{display:inline-block}
.ddsmoothmenu ul li ul{position:absolute;left:0;display:none;visibility:hidden}
.ddsmoothmenu ul li ul li{display:list-item;float:none}
.ddsmoothmenu ul li ul li ul{top:0}
.ddsmoothmenu ul li ul li a{font:normal 13px Verdana;width:240px;border-top-width:0;border-bottom:1px solid gray;margin:0;padding:5px}
.downarrowclass{position:absolute;top:12px;right:7px}
.rightarrowclass{position:absolute;top:6px;right:5px}
.ddshadow{position:absolute;left:0;top:0;width:0;height:0;background:silver}
.toplevelshadow{opacity:0.8}
.sidebarmenu ul{list-style-type:none;font:bold 12px Verdana;width:200px;border-bottom:1px solid #ccc;margin:0;padding:0}
.sidebarmenu ul li{position:relative}
.sidebarmenu ul li a{display:block;overflow:auto;color:#FFF;text-decoration:none;border-bottom:1px solid #778;border-right:1px solid #778;padding:6px}
.sidebarmenu ul li a:link,.sidebarmenu ul li a:visited,.sidebarmenu ul li a:active{background-color:#012D58}
.sidebarmenu ul li a:hover{background-color:#000}
.sidebarmenu ul li ul{position:absolute;width:170px;top:0;visibility:hidden}
.sidebarmenu a.subfolderstyle{background:url(images/right.gif) no-repeat 97% 50%}
* html .sidebarmenu ul li{float:left;height:1%}
table.sample{border:6px inset #8B8378}
table.sample td{border:1px solid #000;color:#000;padding:.2em 2ex}
table.sample th{border:1px solid #000;color:blue;padding:.2em 2ex}
table.sample tr.d0 td{background-color:#FCF6CF;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px}
table.sample tr.d1 td{background-color:#FEFEF2;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px}
#student{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:700px;border-collapse:collapse}
#student td,#student th{font-size:1em;border:1px solid #98bf21;padding:3px 7px 2px}
#student th{font-size:1.1em;text-align:left;padding-top:5px;padding-bottom:4px;background-color:#012D58;color:#fff}
#student tr.alt td{color:#000;background-color:#EAF2D3}
.search{background-image:url(images/search.png);width:210px;height:26px}
.gov{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px}
.hname{font-family:Verdana, Arial, Helvetica, sans-serif;color:#00C}
.quali{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px}
table tbody tr.light{background-color:#FFF;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px}
table tbody tr.dark{background-color:#FC9;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px}
table tbody th{background-color:#CCC;border-style:groove}
//table tr td{font-weight:200}
.title{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;font-weight:500;color:#FFF}
A{text-decoration:none}
A:hover{color:red;background-color:#6ff}
.tabb{font-weight:700;font-size:12px;font-family:Arial,Helvetica}
.tan{font-size:12px;color:navy;font-family:Arial,Helvetica;text-align:center}
.tann{font-size:14px;color:navy;font-family:Arial,Helvetica;text-align:center}
#counter{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px}
#pubcontent{width:700px;text-align:justify;margin-left:200px}
.staff{color:#000660;font-weight:200;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px}
.journal{color:#00F;font-family:"Times New Roman", Times, serif;font-size:15px;font-style:italic}
.paginate{font-family:Arial, Helvetica, sans-serif;font-size:.7em}
a.paginate{border:1px solid navy;text-decoration:none;color:navy;padding:2px 6px}
a.paginate:hover{background-color:navy;color:#FFF;text-decoration:underline}
a.current{border:1px solid navy;font:bold .7em Arial,Helvetica,sans-serif;cursor:default;background:navy;color:#FFF;text-decoration:none;padding:2px 6px}
span.inactive{border:1px solid #999;font-family:Arial, Helvetica, sans-serif;font-size:.7em;color:#999;cursor:default;padding:2px 6px}
#hscroll{font:"Times New Roman", Times, serif;font-size:14px;height:auto}
.popbox{display:none;position:absolute;z-index:99999;width:400px;background:#EEEFEB;color:#000;border:1px solid #4D4F53;-webkit-box-shadow:0 0 5px 0 rgba(164,164,164,1);box-shadow:0 0 5px 0 rgba(164,164,164,1);margin:0;padding:10px}
.popbox h2{background-color:#4D4F53;color:#E3E5DD;font-size:14px;display:block;width:100%;margin:-10px 0 8px -10px;padding:5px 10px}
#hscroller a,.ddsmoothmenu ul li a:link,.ddsmoothmenu ul li a:visited,.sidebarmenu ul li a:visited,.titlepub{color:#FFF}
#content,#txtHint{float:left;width:580px;line-height:110%;margin:0 0 0 30px;padding:5px 0}
p,.lit{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;text-align:justify}
h3,.pub{color:#00F}
h2,ul li h3,A:link,A:visited{color:blue}
.ddsmoothmenu ul li a.selected,.ddsmoothmenu ul li a:hover{background:#000;color:#FFF}
* html .ddsmoothmenu,* html .sidebarmenu ul li a{height:1%}